<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/head :: head"></div>
<body>
<div th:replace="fragments/navbar :: navbar"></div>

<div th:replace="fragments/header-section :: header-section"></div>
<div class="container px-xl-3 px-lg-3 px-md-3 py-lg-5 px-sm-0 my-lg-3 shadow-sm detail-container rounded" >
    <div class="row">
        <div class="col-lg-10 justify-content-center mx-auto">
            <div class="alert alert-danger" role="alert" th:if="${exist}">
                User with username already exist!
            </div>
            <div><h6 class="display-4 page-title">Sign Up</h6></div>
            <div class="post-list-content">
                <!--USER FORM DISPLAYS BELOW-->
                <form action="#" th:action="@{/user/signup}" th:object="${user}" method="post">
                    <div class="form-group">
                        <label for="exampleInputusername1">Username</label>
                        <input type="text" name="username" class="form-control" th:field="*{username}" id="exampleInputusername1" aria-describedby="emailHelp" placeholder="Enter Username" autofocus="autofocus">
                        <div class="text text-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" name="password" class="form-control" th:field="*{password}" id="exampleInputPassword1" placeholder="Password">
                        <div class="text text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
                    </div>
                    <button type="submit" class="btn btn-primary mb-3 submit-button">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="user-form-spacer"></div>
<div th:replace="fragments/footer :: footer-main"></div>
<div th:replace="fragments/bottom-scripts :: bottom-scripts"></div>
</body>
</html>



