<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/head :: head"></div>
<body>
<div th:replace="fragments/navbar :: navbar"></div>
<div th:replace="fragments/header-section :: header-section"></div>
<div class="container px-xl-3 px-lg-3 px-md-3 py-lg-5 px-sm-0 mb-4 shadow-sm detail-container" >
    <div class="row">
        <div class="col-lg-10 justify-content-center mx-auto">
            <div><h6 class="display-4">Post Detail</h6></div>
            <div class="post-list-content">
                <!--POST DETAIL DISPLAYS BELOW-->
                <div class="card border-info mb-3 p-3">
                    <div class="card-header" th:text="${post.title}"></div>
                    <div class="card-body text-info">
                        <span class="card-title" th:text="${post.author}"></span>
                        <span th:text="${post.dateString}"></span>
                        <hr class="mt-1">
                        <p class="card-text" th:text="${post.text}"></p>
                        <hr>
                        <a href="/post/list">
                            <button type="button" class="btn btn-link btn-lg px-lg-2"><i class="fas fa-undo-alt"></i> Back</button>
                        </a>
                        <a th:href="${'/post/delete/' + post.id}">
                            <button type="button" class="btn btn-link btn-lg px-lg-2"><i class="fas fa-trash-alt"></i> Delete</button>
                        </a>
                        <a th:href="${'/post/edit/' + post.id}">
                            <button type="button" class="btn btn-link btn-lg px-lg-2"><i class="fas fa-edit"></i> Edit</button>
                        </a>
                        <button type="button" class="btn btn-link">
                            <span class="ml-3 mr-1">
                                <i class="fa fa-thumbs-up toggle-like" data-author="emerson" data-th-postId="${post.id}" data-entity="post"  aria-hidden="true"></i>
                            </span>
                            <span class="" th:text="${post.likes.size()}"></span>
                        </button>
                        <span class="ml-3 mr-1">
                                <i class="fa fa-comments" aria-hidden="true" th:text="${post.comments.size()}"> </i>
                                comments
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="fragments/comment :: new-comment-form"></div>

    <div th:replace="fragments/comment :: comments"></div>
</div>

<div th:replace="fragments/footer :: footer-main"></div>
<div th:replace="fragments/bottom-scripts :: bottom-scripts"></div>
</body>
</html>