<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/head :: head"></div>
<body>
<div th:replace="fragments/navbar :: navbar"></div>
<div th:replace="fragments/header-section :: header-section"></div>
<div class="container px-xl-3 px-lg-3 px-md-3 py-lg-5 px-sm-0 my-lg-3 shadow-sm detail-container rounded" >
    <div class="row">
        <div class="col-lg-10 justify-content-center mx-auto">
            <div class="post-list-content">
                <!--POST DETAIL DISPLAYS BELOW-->
                <div class="pb-0 border-bottom">
                    <h6 class="display-4">Add Blog Post</h6>
                </div>
                <div class="new-post-content mt-2">
                    <form action="#" th:action="@{/post/add}" th:object="${post}" method="post">
                        <div class="form-group">
                            <label for="postTitleInput">Post Title</label>
                            <input  th:field="*{title}"
                                    name="title"
                                    type="text"
                                    class="form-control post-title-input autosize-input rounded-0"
                                    id="postTitleInput"
                                    aria-describedby="textHelp"
                                    placeholder="Please provide a title for your post..."
                                    />
                            <small class="form-text text-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></small>
                        </div>
                        <div class="form-group">
                            <label for="postTextInput">Details</label>
                            <textarea th:field="*{text}" name="text" class="form-control post-text-input autosize-input rounded-0" id="postTextInput" placeholder="Enter post detail here."></textarea>
                            <small class="form-text text-danger" th:if="${#fields.hasErrors('text')}" th:errors="*{text}"></small>
                        </div>
                        <a href="/post/list">
                            <button type="button" class="btn btn-lg cancel-button pl-0 mr-0">Cancel</button>
                        </a>
                        <button type="submit" class="btn btn-primary btn-lg">Submit Post</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="spacer"></div>
<div th:replace="fragments/footer :: footer-main"></div>
<div th:replace="fragments/bottom-scripts :: bottom-scripts"></div>
</body>
</html>