
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
>
<div th:replace="fragments/head :: head"></div>
<body>
<div th:replace="fragments/navbar :: navbar"></div>
<div th:replace="fragments/header-section :: header-section"></div>
<div class="container px-xl-3 px-lg-3 px-md-3 py-lg-5 px-sm-0 shadow-sm detail-container" >
	<div class="row">
		<div class="col-xl-10 col-lg-10 col-md-10 justify-content-center mx-auto">
			<div><h1 class="display-4 page-title"th:if=" ${posts.size()>0}">Blog Posts</h1></div>
			<div><h4 class="text-primary text-center bg-light p-lg-4 py-sm-5 px-sm-2" th:if="${posts.size()< 1}"><i class="fas fa-info-circle"></i>  No result was found for your search. Please refine your search.</h4></div>
            <div class="post-list-content" th:if="${posts.size()>0}">
                <div class="media my-2 p-4 rounded border" th:each="post : ${ posts }">
                    <div class="media-body">
                        <div class="border-bottom">
                            <h3  class="mt-0 mb-1" th:text="${ post.title }"></h3>
                        </div>
                        <div class="border-bottom">
                            <span class="mr-3 mt-0 mb-1 author" th:text="'By '+${post.author}"></span> <span class="mt-0 mb-1 date-string" th:text="${post.dateString}"></span>
                        </div>
                        <div>
                            <p class="post-detail" th:text="${ post.text.length()>200? #strings.substring(post.text,0,200)+'...':post.text+'...'}"></p>
                        </div>
                        <a th:href="${'/post/details/' + post.id}"><button type="button" class="btn btn-success">Read More</button></a>
					</div>
                </div>
			</div>
		</div>
	</div>
</div>
<div class="spacer"></div>
<div th:replace="fragments/footer :: footer-main"></div>
<div th:replace="fragments/bottom-scripts :: bottom-scripts"></div>
</body>
</html>


