<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	<head>
	</head>
	<body>

	<div  class="footer my-0 border-0 fixed-bottom" th:fragment="footer-main">
		<div class="p-4 text-light copy-box">
            <p class="text-center">&copy; 2018 Emerson Doyah Spring Framework projects</p>
        </div>
	</div >
	<div class="mb-0 mt-lg-0 mt-sm-1 border-top home-footer" th:fragment="footer-home">
		<div class="container d-flex py-5 flex-column flex-md-row justify-content-between">
			<div class="d-flex flex-column col-sm-12 col-md-2 col-lg-2 col-xl-2">
				<div class="shadow-sm quicklinks">
					<h6 class="list-group-item list-group-item-action active text-center">QuickLinks</h6>
					<a href="/user/signup" class="list-group-item list-group-item-action" sec:authorize="!isAuthenticated()">
						<i class="fas fa-user-plus"></i>
						<strong>Sign Up</strong>
					</a>
					<a href="/user/login" class="list-group-item list-group-item-action" sec:authorize="!isAuthenticated()">
						<i class="fas fa-sign-in-alt"></i>
						<strong>Login</strong>
					</a>
					<a href="/post/new" class="list-group-item list-group-item-action" sec:authorize="isAuthenticated()">
						<i class="fas fa-edit"></i>
						<strong> Start a conversation</strong>
					</a>
					<a href="/post/list" class="list-group-item list-group-item-action">
						<i class="far fa-newspaper"></i>
						<strong> Go to Posts</strong>
					</a>
					<a href="/logout" class="list-group-item list-group-item-action" sec:authorize="isAuthenticated()">
						<i class="fas fa-sign-out-alt"></i>
						<strong> Logout</strong>
					</a>
            	</div>
            </div>
			<div class="col-sm-12 col-md-8 col-lg-8 col-xl-8 px-md-0 px-lg-0 px-xl-0">
				<div class="shadow-sm pb-2">
					<h6 class="list-group-item list-group-item-action active text-center">About The Discussion Board</h6>
					<p class="text-justify mx-3">The Discussion Board is an online community where users can share blog posts and
						entertain discussions in the form of comments and replies and likes. This web application is proudly
						built on Java's Spring Framework. Some of the projects use from Spring Framework ecosystem of projects are
						Spring Boot, Spring MVC (Transactions, DAO, JDBC, ORM), Spring Security.
					</p>
					<p class="text-justify mx-3">The project front-end is designed using Thymeleaf template engine, Bootstrap 4, and custom CSS, JavaScript and JQuery,
						Font Awesome, and Google Fonts. The backend business
						logic is built on core Java, Spring Inversion of Control (Dependency Injection). Data persistence is
						handled using Java Persistence API (JPA), Hibernate, and MySQL Database. Project dependencies are managed by Maven.
					</p>
				</div>
			</div>
			<div class="col-sm-12 col-md-2 col-lg-2 col-xl-2">
				<div class="shadow-sm  pb-3">
					<h6 class="list-group-item list-group-item-action active text-center">Contacts</h6>
					<a href="https://www.linkedin.com/in/emerson-doyah-0ba6b180/" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin d-inline m-1"></i></a>
					<a href="https://github.com/emerzonic" target="_blank" rel="noopener noreferrer"><i class="fab fa-github-square d-inline m-1"></i></a>
					<a href="mailto:emerson.doyah@gmail.com" target="_blank" rel="noopener noreferrer"><i class="fas fa-envelope d-inline m-1"></i></a>
					<a href="tel:1-763-439-5721" target="_blank" rel="noopener noreferrer"><i class="fas fa-phone-square d-inline m-1"></i></a>
					<a class="contact-link" href="skype:profile_name?userinfo"><i class="fab fa-skype d-inline m-1"></i></a>
				</div>
			</div>
		</div>
        <div class="py-4 text-light copy-box">
            <p>&copy; 2018 Emerson Doyah Spring Framework projects</p>
        </div>
    </div>
	</body>
	</html>