<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	<head>
	</head>
	<body>

	<div  class="footer my-0 border" th:fragment="footer-main">
		<div class="p-4 text-light copy-box">
            <p class="text-center">&copy; 2018 Emerson Doyah Spring Framework projects</p>
        </div>
	</div >

	<div class="mb-0 mt-lg-0 mt-sm-1 border-top home-footer " th:fragment="footer-home">
		<div class="container d-flex justify-content-around flex-column flex-md-row flex-lg-row flex-xl-row py-5">
			<div class="d-flex flex-column col-xl-4 col-lg-4 col-md-3 col-sm-12 text-left">
				<h6 class="list-group-item list-group-item-action active text-center">QuickLinks</h6>
				<a href="/user/signup" class="list-group-item list-group-item-action border-0" sec:authorize="!isAuthenticated()"><i class="fas fa-user-plus"></i> <strong>Sign Up</strong></a>
				<a href="/user/login" class="list-group-item list-group-item-action border-0" sec:authorize="!isAuthenticated()"><i class="fas fa-sign-in-alt"></i> <strong>Login</strong></a>
				<a href="/post/new" class="list-group-item list-group-item-action border-0" sec:authorize="isAuthenticated()"><i class="fas fa-edit"></i><strong> Start a conversation</strong></a>
				<a href="/post/list" class="list-group-item list-group-item-action border-0"><i class="far fa-newspaper"></i><strong> Go to Posts</strong></a>
				<a href="/logout" class="list-group-item list-group-item-action border-0" sec:authorize="isAuthenticated()"><i class="fas fa-sign-out-alt"></i><strong> Logout</strong></a>
            </div>
			<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                <h6 class="list-group-item list-group-item-action active text-center">About The Discussion Board</h6>
                <p class="text-justify">Lorem Ipsum is simply dummy text of the printing and
					typesetting industry. Lorem Ipsum has been the industry's standard dummy
					text ever since the 1500s, when an unknown printer took a galley of type
					and scrambled it to make a type specimen book. It has survived not only
					five centuries, but also the leap into electronic typesetting, remaining
					essentially unchanged. It was popularised in the 1960s with the release
					of Letraset sheets containing Lorem Ipsum passages, and more recently with
					desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
				</p>
			</div>
			<div class="col-xl-4 col-lg-4 col-md-3  col-sm-12 text-center">
                <h6 class="list-group-item list-group-item-action active text-center">Follow the Developer</h6>
                <a href="https://www.linkedin.com/in/emerson-doyah-0ba6b180/"><i class="fab fa-linkedin display-2 d-inline m-2"></i></a>
                <a href="https://github.com/emerzonic"><i class="fab fa-github-square display-2 d-inline m-2"></i></a>
                <a href="mailto:emerson.doyah@gmail.com"><i class="fas fa-envelope display-2 d-inline m-2"></i></a>
			</div>
		</div>
        <div class="py-4 text-light copy-box">
            <p>&copy; 2018 Emerson Doyah Spring Framework projects</p>
        </div>
    </div>
	</body>
	</html>