<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
<!-- HEADER STARTS -->
<div class="jumbotron jumbotron-fluid top-header text-center mx-auto mb-0" th:fragment="header-section">
    <div class="container p-lg-5">
        <div>
            <h1 class="display-4 pt-5">Join The Discussion</h1>
        </div>
        <div>
            <a href="/post/new">
                <button class="btn btn-success newpost-button my-4" type="button" data-toggle="tooltip"
                        data-placement="top"
                        title="You will need to be logged in to start conversation.">
                    Start a Conversation
                </button>
            </a>
        </div>

        <div>
            <form action="/post/search"  method="POST">
                <div class="input-group mb-3 px-lg-5 px-xl-5">
                    <input type="text" name="searchTerm" class="form-control"
                           placeholder="Search topics"
                           aria-label="search_terms" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button type="submit" class="input-group-text" id="basic-addon2">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- HEADER ENDS -->
</body>
</html>