<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--&lt;!&ndash;<head th:fragment="head">&ndash;&gt;-->
    <!--&lt;!&ndash;<meta charset="UTF-8"/>&ndash;&gt;-->
    <!--&lt;!&ndash;<meta name="viewport" content="width=device-width, initial-scale=1.0"/>&ndash;&gt;-->
    <!--&lt;!&ndash;<meta http-equiv="X-UA-Compatible" content="ie=edge"/>&ndash;&gt;-->
    <!--&lt;!&ndash;<title>Disputatio</title>&ndash;&gt;-->
    <!--&lt;!&ndash;<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"/>&ndash;&gt;-->
    <!--&lt;!&ndash;<link rel="stylesheet" th:href="@{/stylesheet/fontawesome.min.css}"/>&ndash;&gt;-->
    <!--&lt;!&ndash;<link rel="stylesheet" type="text/css" th:href="@{/stylesheet/home.css}"/>&ndash;&gt;-->
<!--&lt;!&ndash;</head>&ndash;&gt;-->

<!--<body>-->
<!--<h1>This is layout</h1>-->

<!--<div th:replace="${templates}"/>-->

    <!--<script th:src="@{/webjars/jquery/jquery.min.js}"></script>-->
    <!--<script th:src="@{/webjars/jquery-ui/jquery-ui.min.js}"></script>-->
    <!--<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>-->
    <!--&lt;!&ndash;<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>&ndash;&gt;-->
    <!--&lt;!&ndash;<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>&ndash;&gt;-->
    <!--&lt;!&ndash;<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>&ndash;&gt;-->
    <!--<script type="text/javascript" th:src="@{/script/app.js}"></script>-->
<!--</body>-->