<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8"/>
</head>
<body>
<div class="row" th:fragment="new-reply-form"  sec:authorize="isAuthenticated()">
    <div class="col-lg-10 justify-content-center mx-auto">
        <div class="mb-3">
            <!--NEW REPLY FORM BELOW-->
            <form th:id="'replyForm'+ ${comment.id}" class="comment-form d-none">
                <div class="form-group">
                    <textarea th:id="'replyInput'+ ${comment.id}" name="text" class="form-control comment-input autosize-input rounded-0 pb-0" placeholder="Reply this comment..."></textarea>
                </div>
                <div class="d-flex justify-content-between">
                    <small th:id="'newReplyError'+ ${comment.id}" class="text-danger"></small>
                    <div>
                        <button type="button"   th:data-id="${comment.id}" class="btn btn-sm reply-cancel-button mr-2">CANCEL</button>
                        <button type="submit"  th:data-id="${comment.id}" class="btn btn-primary btn-sm reply-submit-button" >REPLY</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>



<div class="row" th:fragment="replies">
    <div class="col-xl-10 col-lg-10 col-md-10 mx-auto" th:if="${comment.replies != null}">
        <div th:each="reply : ${ comment.replies }" th:id="'collapse'+${comment.id}" class="collapse">
            <div class="media my-0 p-2 reply-media" th:id="'reply-media'+${reply.id}">
                <img class="mr-3 rounded-circle img-fluid" th:src="@{/images/thumbnail.png}" alt="user initial image">
                <!--<p class="initiall">E</p>-->
                <div class="media-body">
                    <span class="mr-2 author" th:text="${reply.author}"></span> <span class="date-string" th:text="${reply.dateString}"></span>
                    <p th:text="${reply.text}"></p>
                    <div class="">
                        <button type="button" class="btn btn-link px-sm-1 post-like-link"  sec:authorize="isAuthenticated()">
                            <i class="fa fa-thumbs-up toggle-like" data-author="author" data-th-replyId="${reply.id}" data-th-commentId="${0}" data-th-postId="${0}" data-entity="reply" aria-hidden="true"></i>
                        </button>
                        <span class="" th:if="${post.likes.size() > 0}"  sec:authorize="!isAuthenticated()"> <i class="fa fa-thumbs-up text-secondary"></i></span>
                        <span th:if="${reply.likes.size() > 0}" th:text="${reply.likes.size()}"></span>
                    </div>
                </div>
                <div class="d-flex align-items-center"  sec:authorize="isAuthenticated()">
                    <i class="fa fa-ellipsis-v pl-4 pt-5" data-toggle="dropdown" aria-hidden="true"></i>
                    <div class="dropdown-menu border-0 p-0 bg-transparent">
                        <ul class="list-group w-75">
                            <li class="list-group-item list-group-item-action replyEdit" data-th-replyId="${reply.id}"  th:if="${#authentication.name}==${reply.author}"> <i class="fas fa-edit"></i> Edit</li>
                            <li class="list-group-item list-group-item-action replyDelete"  data-th-replyId="${reply.id}"  th:if="${#authentication.name}==${reply.author}"><i class="fas fa-trash-alt"></i> Delete</li>
                            <li class="list-group-item list-group-item-action" th:if="${#authentication.name}!=${reply.author}"> Report</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row d-none"  th:id="'reply-form'+ ${reply.id}"  sec:authorize="isAuthenticated()">
                <div class="col-lg-10 justify-content-center mx-auto">
                    <div class="mb-3">
                        <!--EDIT COMMENT FORM BELOW-->
                        <form class="reply-edit-form">
                            <div class="form-group">
                                <textarea name="reply-text" th:id="${'reply-textarea'+reply.id}" class="form-control comment-input autosize-input rounded-0 pb-0"></textarea>
                            </div>
                            <div class="d-flex justify-content-between">
                                <small th:id="${'editReplyError'+reply.id}" class="text-danger"></small>
                                <div>
                                    <button type="button"  data-th-replyId="${reply.id}" class="btn btn-sm cancel-button cancel-edit mr-2">CANCEL</button>
                                    <button type="button"  data-th-replyId="${reply.id}" class="btn btn-primary btn-sm submit-button submit-reply">REPLY</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>