<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <div th:replace="fragments/head :: head"></div>
<body>
<div class="card text-center">
    <div class="card-body home-card">
        <h5 class="card-title display-4 heading-text">The Discussion Board</h5>
        <p class="card-text text-light">A place where everyone can express and exchange views.</p>
        <a href="/post/list" class="btn btn btn-secondary btn-lg border">Join The Conversation</a>
    </div>
    <div class="card-footer p-0 m-0">
        <div th:replace="fragments/footer :: footer-home"></div>
    </div>
</div>
<div th:replace="fragments/bottom-scripts :: bottom-scripts"></div>
</body>
</html>