root{
    font-size: 16px;
}

body{
    margin: 0;
    padding: 0;

}

.home-card{
    background-image:url("../images/background.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    color:#FFFF;
    padding: 20rem 0;
}


.home-card .display-4{
    font-size: 3.5rem;
}


.home-card p{
    font-size: 1.2rem;
}


.home-footer .list-group-item.active{
    color: #ffffff;
    background-color:#03283f;
    border-color:#03283f;
    margin-bottom: 1rem;
    font-weight: bold;
}

.fa-linkedin{
    color: #0077b5;
}

.fa-github-square{
    color: #24282d;
}

.fa-envelope{
    color: #d54b3d;
}

.fa-envelope:hover{
    text-decoration: none;
    text-decoration-style: -moz-none;
}

.fa-skype{
    color:#02aff0;
}


.fa-linkedin, .fa-github-square, .fa-envelope, .fa-phone-square, .fa-skype{
    font-size: 3.3rem;
    transition: 0.5s ease-in;
    transition: 0.5s ease-out;
}

.contact-icons-div{
    height: 100%;
}
.contact-icons-div i:hover{
    transform: scale(1.05);
}



