/*GENERAL CROSS-PAGES STYLES*/
body{
	background-color:#dedee2;
    font-family: 'Roboto', sans-serif;
}

.display-4 {
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 1.5;
}


/*NAVBAR STYLES*/
.navbar.bg-dark{
	transition:all 1500ms;
}

.navbar-brand{
    font-size: 1rem;
    border: white 3px solid;
    background: #033542;
    font-weight: bold;
}


.nav-link{
    font-size: 1.2rem;
}

.navbar-dark .navbar-nav .nav-link {
    color: #ffff;
}


/*GENERAL HEADER STYLES*/
.top-header{
	background-image:url("../images/header_background.jpg");
	background-repeat:no-repeat;
	background-size:cover;
	color:#FFFF;
}

/*BLOG POSTS STYLES*/



/*POST DETAIL STYLES*/
.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
    font-size: 1.5rem;
    font-weight: bold;
}

.author{
    text-transform: uppercase;
    font-weight: bold;
}

.date-string{
    font-style: italic;
    font-weight: 400;
}


.back-botton:hover{
    color:blue;
    text-decoration: none;
}

.post-delete-link{
    color:red;
}

.post-delete-link:hover{
    color:darkred;
    text-decoration: none;
}


.post-edit-link{
    color:black;
}

.post-edit-link:hover{
    color:darkslategray;
    text-decoration: none;
}

.post-comment-display{
    /*font-size: 1.5rem;*/
}

.fa-thumbs-up{
    color: #007bff;
}

.fa-thumbs-up:before {
    content: "\f164";
    font-size: 1.5rem;
}

.reply-action-button:hover{
    text-decoration: none;
}

.card-body .btn-link{
    font-size: 1.3rem;
}

.btn-primary{
    background:#5e8598;
    border: #5e8598;
    color: #ffffff;
    outline: 0;
    box-shadow: none;
}

.btn-primary:hover{
    border: #5e8598;
}

.btn-primary:visited{
    border: #5e8598;
}

.btn-primary:active, .btn-primary:focus {
    outline: 0;
    border: none;
}

/*MAIN FOOTER STYLES*/
.footer{
	background:#5e8598;
	color:black;
	height:auto;
	}

/*HOME FOOTER STYLES*/
.home-footer{
	background:white;
	color:#5e8598;;
	height:auto;
	}

.copy-box{
    background: #5e8598;
}



/* to be combined into one selector */
 .comment-input{
	border: none;
	border-bottom:0.09rem solid LightGray;	
	padding:0;
}


.post-title-input{
	border: none;
	border-bottom:0.09rem solid LightGray;	
	padding:0;
}


 .post-text-input{
	border: none;
	border-bottom:0.09rem solid LightGray;	
	padding:0;
}

 .reply-text-input{
	border: none;
	border-bottom:0.09rem solid LightGray;	
	padding:0;
}

.comment-input:focus{
	border-bottom:0.1rem solid black;
    box-shadow: none;
}


.post-title-input:focus{
	border-bottom:0.1rem solid black;
    box-shadow: none;
}

.post-text-input:focus{
	border-bottom:0.1rem solid black;
    box-shadow: none;
}

.reply-text-input:focus{
	border-bottom:0.1rem solid black;
    box-shadow: none;
}

.search-input, .search-submit{
	width: 100%;
}


.cancel-button{
    border:none;
	background:white;
	margin-right:1rem;
	color:black;
}



.submit-button{
	background-color:#5e8598;
	border-color:#5e8598;
	color:white;
}

label{
	font-weight:bold;
}

.post-list-content.media{
	background-color:#f1f6f7;
}

textarea{
	height:2rem;
}

.thumbnail-box{
	width:5rem;
}


.comment-media .img-fluid {
	max-width: 5%;
    min-width: 2.5rem;
}

.reply-media .img-fluid {
	max-width: 5%;
	min-width: 1.8rem;
}

.detail-container{
    background: #ffffff;
}

.fa-ellipsis-v{
    visibility:hidden;
    transition: all 3ms;
}


.media:hover .fa-ellipsis-v{
    visibility:visible;
}

.login-info{
    font-size: 0.8rem;
    color:#0808a9;
}

a:link    {
    /* Applies to all unvisited links */
    text-decoration:  none;
}
a:visited {
    /* Applies to all visited links */
    text-decoration:  none;
}
a:hover   {
    /* Applies to links under the pointer */
    text-decoration:  none;
}


